//imports custom fonts from google
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Poppins:wght@200;400;500;700&display=swap");

// css for bookings.php and dashboard.php

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
  //min-height: 100%;
  color: #2b2b2b;
}

.container {
  margin: 0 auto;
  width: 60%;
}

.navbar .container {
  display: grid;
  grid-template-columns: auto auto;

  p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 0;
    //vertical-align: center;
    color: #7b61ff;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-top: -0.4em;

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

    a {
      padding: 0.1em 0.7em;
      text-decoration: none;
      color: inherit;

      &:hover {
        cursor: pointer;
        color: #7b61ff;
      }
    }

    .first {
      padding-left: 20em;

      span {
        color: #7b61ff;
        font-weight: 500;
      }
    }

    .second {
      li:nth-child(3) {
        font-weight: 500;
      }
    }
  }
}

.hero {
  background: #fff500;
  position: relative;

  .container {
    width: 70%;
    padding-bottom: 10em;
  }

  h2 {
    margin: 0;
    margin-left: 1.5em;
    padding: 0.5em 0;
    font-size: 3.5em;
    color: #2b2b2b;

    span {
      color: #6041ff;
      //font-family: Playfair;
    }
  }

  .operation {
    position: absolute;
    top: 155px;
  }

  .panel-op {
    margin-top: 5em;
    margin-left: 1em;
    background: #f5f7dc;
    width: fit-content;
    border: 2px solid black;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    ul {
      padding: 0;
      margin: 0.3em;
      display: flex;
      list-style: none;

      li {
        margin: 0 0.2em;
        background: #7b61ff;
        color: white;
        padding: 0.1em 3em;
        border-radius: 4px;
        font-size: 0.9em;

        &:hover {
          background: #dad2ff;
          color: #6041ff;
          cursor: pointer;
        }
      }
    }
  }

  .op-selection {
    top: 100px;
    background: black;
    width: fit-content;
    border-radius: 10px;
    padding: 0;
    margin: -0.2em;
    padding-bottom: 0.1em;

    ul {
      margin: 0;
      display: flex;
      list-style: none;
      padding: 0.5em 0.3em 0.3em 0.3em;

      li {
        margin: 0 0.3em;

        &:nth-child(2) select {
          min-width: 420px;
        }

        &:nth-child(2) select:focus {
          max-width: 420px;
        }

        option {
          font: inherit;
        }

        select {
          padding: 0.6em 6em 0.6em 0.5em;
          border-radius: 5px;
          border: 0;
          font-family: inherit;
          font-weight: bold;
          font-size: 1em;
          color: #2b2b2b;
          
          &:hover {
            cursor: pointer;
          }
        }

        input[type="date"] {
          padding: 0.6em 0.5em;
          border-radius: 5px;
          border: 0;
          font-family: inherit;
          font-weight: bold;
          font-size: 1em;
          justify-content: space-evenly;
          color: #2b2b2b;
          //margin-top: -0.1em;

          &::-webkit-calendar-picker-indicator {
            margin-left: 2em;
          }

          &:hover {
            cursor: pointer;
          }
        }

        input[type="text"] {
          padding: 0.6em 0.5em;
          padding-right: 6em;
          border-radius: 5px;
          border: 0;
          font-family: inherit;
          font-weight: bold;
          font-size: 1em;
          color: #2b2b2b;

          &::placeholder {
            color: #2b2b2b;
          }
        }

        button[type="submit"] {
          border: none;
          background-color: #2b76e5;
          color: white;
          padding: 0.6em 2em;
          font-family: inherit;
          border-radius: 5px;
          font-weight: bold;
          font-size: 1em;

          &:hover {
            background-color: white;
            color: #2b76e5;
            cursor: pointer;
          }
        }

        label {
          color: white;
        }
      }
    }
  }
}

main {
  .container {
    margin-top: 7em;
    margin-bottom: 5em;

    h1 {
      font-family: Playfair Display;
      font-size: 5em;
      margin: 0;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .row0 {
      margin-top: 1em;

      p {
        font-weight: 700;
        color: #7b61ff;
        font-size: 1.3em;
      }
    }
  }
  .grid-container {
    text-align: center;
    justify-content: center;
    margin: 1em auto;
    //width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1.5em;

    .heading {
      text-align: left;
      font-weight: 700;
      color: #7b61ff;
      font-size: 1.5em;

      p {
        margin: 0;
        margin-bottom: -0.8em;
      }
    }

    .cont {
      position: relative;

      .thumb {
        object-fit: cover;
        margin: 0;
        width: 100%;
        transition: filter 0.5s;
        border-radius: 2px;
        height: 250px;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 250px;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #2b2b2b;

        &:hover {
          opacity: 1;
        }
      }

      .heading {
        color: #fff500;
        font-size: 1.7em;
        margin: 0.8em auto;
        margin-top: 2.5em;
        text-align: center;
      }

      .text {
        color: white;
        font-size: 1.5em;
        margin: 0.8em auto;
        text-align: center;
      }
    }
  }
}

footer {
  background-color: #7b61ff;
  color: #fff500;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      margin: 0.6em 0.1em;
      font-size: 1.1em;
    }

    a {
      margin-bottom: -0.5em;

      img {
        width: 30px;
      }
    }
  }
}

.addclient-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  backdrop-filter: blur(15px);
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */

  .modal-container {
    //box-shadow: rgba(101, 80, 208, 0.4) 5px 5px, rgba(101, 80, 208, 0.3) 10px 10px, rgba(101, 80, 208, 0.2) 15px 15px, rgba(101, 80, 208, 0.1) 20px 20px, rgba(101, 80, 208, 0.05) 25px 25px;
    box-shadow: 0 0 0 2px rgba(101, 80, 208, 1),
      8px 8px 0 0 rgba(101, 80, 208, 1);
    width: 30%;
    text-align: center;
    background-color: white;
    color: #2b2b2b;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    //top: 25%;
    //left: 50%;
    //padding: 20px;
    //transform: translate(-50%, 0);

    p {
      font-size: 3em;
      margin: 0;
      padding: 0.5em;
      font-weight: 700;
      color: green;
    }

    h3 {
      margin: 0.3em;
    }

    input {
      font-family: inherit;
      border: 1px solid black;
      width: 50%;
      border-radius: 10px;
      padding: 0.5em;
      margin: 0.2em;
    }

    button {
      border: none;
      width: 53%;
      font-family: inherit;
      font-weight: 700;
      font-size: 1em;
      border-radius: 5px;
      padding: 0.5em;
      margin: 0.2em;
      background-color: #2b76e5;
      color: white;
      margin-bottom: 2em;

      &:hover {
        background-color: #2666c7;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.error-modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  backdrop-filter: blur(15px);
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */

  .modal-container {
    //box-shadow: rgba(101, 80, 208, 0.4) 5px 5px, rgba(101, 80, 208, 0.3) 10px 10px, rgba(101, 80, 208, 0.2) 15px 15px, rgba(101, 80, 208, 0.1) 20px 20px, rgba(101, 80, 208, 0.05) 25px 25px;
    box-shadow: 0 0 0 2px rgba(101, 80, 208, 1),
      8px 8px 0 0 rgba(101, 80, 208, 1);
    width: 30%;
    text-align: center;
    background-color: white;
    color: #2b2b2b;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    //top: 25%;
    //left: 50%;
    //padding: 20px;
    //transform: translate(-50%, 0);

    p {
      font-size: 2em;
      margin: 0;
      padding: 0.5em;
      font-weight: 700;
      color: #2b2b2b;
    }

    #close {
      float: right;
      font-size: 2em;
      margin-top: -0.2em;
      margin-right: 0.3em;

      &:hover {
        cursor: pointer;
      }
    }

    .message {
      //margin-top: 1em;
      display: block;
      font-size: 1em;
      margin-bottom: 1.5em;
      font-weight: 500;
      font-size: 1.5em;
      


      span {
        font-weight: 700;
        color: #7b61ff;
      }
    }
  }
}

// loader animation CSS
.loaderwrapper {
  //display: none !important;
  z-index: 50;
  height: 100%;
  width: 100%;
  background-color: #7b61ff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    //display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid white;
    //top: 50%;
    animation: loader 2.5s infinite ease;
  }

  .loader-inner {
    vertical-align: top;
    //display: inline-block;
    width: 100%;
    background-color: white;
    animation: loader-inner 2.5s infinite cubic-bezier(0, 0, 1, 0);
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    25%,
    50% {
      transform: rotate(180deg);
    }
    75%,
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-inner {
    0%,
    75%,
    100% {
      height: 100%;
    }
    25%,
    50% {
      height: 0%;
    }
  }
}

//styling for the dashboard table

.tables {

  .first-heading {
    display: flex;
    justify-content: space-between;
    color: #7b61ff;

    span {
      color: #2b2b2b;
    }
  }

  h1 {
    margin: 0;
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    font-size: 5em;
    font-family: Playfair Display;
  }

  h3 {
    margin: 0;
    color: #7b61ff;
    font-size: 1.5em;
  }

  &:nth-child(3) {
    margin-bottom: 3em;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px grey;
    background-color: #7b61ff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 138, 138);
  }

  .table-cont {

    max-height: 325px;
    overflow: auto;
    border-radius: 8px;
    width: 100%;
    margin: 1.2em 0;
    margin-top: 0.3em;

    .table {
      width: 100%;
      //border-radius: 8px;
      background-color: #2b2b2b;
      border-spacing: 0;

      thead {
        background-color: #7b61ff;
        th {
          padding: 0.5em;
          text-align: left;
        }
      }

      tr {
        color: white;
        font-weight: 500;

        th {
          padding: 0.5em;
        }
        td {
          padding: 0.5em;
        }
      }
    }
  }
}
